@import "https://fonts.googleapis.com/css?family=Pridi";

$bg-default: #eaf4ff;
$bg-fieldset: #fff;
$bg-btn-font-color: #fff;
$icon: #fff;
$box-search: #303b47;
$box-shadow: #303b47;
$error: #ecc8c5;
$error-text: #b83c37;
$font-default: #000;
$textbox-color-up: #3c4043;

* {
  font-family: "Pridi";
}
body {
  background-color: $bg-default;
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

.search-box {
  width: 536px;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 300px;
  border: 3px solid $box-search;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 3px 0 0 3px;
  outline: none;
  color: $bg-default;

  &.searchTerm:focus {
    color: $box-search;
  }
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid $box-search;
  background: $box-search;
  text-align: center;
  color: $icon;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.error {
  border: 1px solid $error-text;
}

.i-login {
  outline: none;
  display: flex;
  flex-direction: column;

  border-radius: 3px;

  &.fname {
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    gap: 5px;
    height: 10px;
    width: 400px;
    margin-bottom: 15px;
    box-shadow: 0 3px 15px -10px $box-shadow;
  }

  &.lname {
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    gap: 5px;
    height: 10px;
    width: 400px;
    margin-bottom: 15px;
    box-shadow: 0 3px 15px -10px $box-shadow;
  }
  &.email {
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    gap: 5px;
    height: 10px;
    width: 945px;
    margin-bottom: 15px;
    box-shadow: 0 3px 15px -10px $box-shadow;
  }

  &.password {
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    gap: 5px;
    height: 10px;
    width: 400px;
    margin-bottom: 15px;
    box-shadow: 0 3px 15px -10px $box-shadow;
  }
}

.i-upload {
  outline: none;
  display: flex;
  flex-direction: column;
  border-radius: 3px;

  &.filename {
    padding: 15px;
    font-size: 16px;
    line-height: 24px;
    height: 10px;
    width: 400px;
    margin-bottom: 15px;
    background: $textbox-color-up;
    color: $bg-btn-font-color;

    box-shadow: 0 3px 15px -10px $box-shadow;
  }

  &.price {
    padding: 5px;
    font-size: 16px;
    line-height: 24px;
    width: 100px;
    margin-bottom: 15px;
    background: $textbox-color-up;
    color: $bg-btn-font-color;

    box-shadow: 0 3px 15px -10px $box-shadow;
  }
}

.selected {
  width: 400px;
  height: 40px;
  padding-left: 5px;
  color: $bg-btn-font-color;
  background: $textbox-color-up;
}

.desc {
  outline: none;
  padding: 15px;
  font-size: 16px;
  resize: none;

  width: 400px;
  margin-bottom: 15px;
  background: $textbox-color-up;
  color: $bg-btn-font-color;
}

.wrap {
  padding-top: 20px;
}
.group {
  position: relative;
  margin-bottom: 45px;
}

.textfield {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;

  &.textfield:focus ~ &.lab,
  &.textfield :valid ~ &.lab {
    top: -40px;
    font-size: 16px;
    color: $font-default;
  }

  &.lab {
    color: #999;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
}

fieldset {
  background-color:$bg-fieldset;
  border-color: #e9eaec;
  border-style: solid;


  line-height: 22.5px;

  padding: 30px 20px 30px 20px;
  width: 400px;
}
.incust {
  display: "flex";
  flex-direction: column;
  border: none;
  width: fit-content;
  padding: 10px;
  ิิ &.-cname {
    margin: 3px;
  }
  &.-city {
    margin: 3px;
  }
  &.-email {
    margin: 3px;
  }
  &.-address {
    margin: 3px;
  }
  &.-country {
    margin: 3px;
  }
  &.-tax {
    margin: 3px;
  }
}

.incusts {
  display: "flex";
  flex-direction: column;
  border: none;
  width: 300px;
  font-size: 14px;
  &.-credit {
    
    padding: 10px;
  }
}
