@import "https://fonts.googleapis.com/css?family=Pridi";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
* {
  font-family: 'Pridi'; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -65px;
  margin-top: -20px;
  width: 130px;
  height: 40px;
  text-align: center; }

.btn {
  height: 40px;
  width: 130px;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  text-align: center;
  font-weight: 900; }
  .btn.-submit {
    background: #303B47;
    cursor: pointer;
    transition: all 0.25s ease; }
    .btn.-submit .font {
      size: 18px; }
    .btn.-submit:hover {
      opacity: .9;
      transform: scale(1.05); }
  .btn.-cancel {
    background: #D90303;
    cursor: pointer;
    transition: all 0.25s ease; }
    .btn.-cancel .font {
      size: 18px; }
    .btn.-cancel:hover {
      opacity: .9;
      transform: scale(1.05); }
  .btn.-publish {
    background: #1376E1;
    cursor: pointer;
    transition: all 0.25s ease; }
    .btn.-publish .font {
      size: 18px; }
    .btn.-publish:hover {
      opacity: .9;
      transform: scale(1.05); }
  .btn.-sign-up {
    background: #fff;
    color: #394BF3;
    font-weight: 900;
    box-shadow: 0 6px 30px -10px #303B47;
    cursor: pointer;
    transition: all 0.25s ease; }
    .btn.-sign-up .font {
      size: 20px; }
    .btn.-sign-up:hover {
      background: #303B47;
      color: #EAF4FF;
      box-shadow: 0 0 0 1px rgba(80, 80, 80, 0.5); }
  .btn.-next {
    background: #303B47;
    width: 752px;
    height: 66px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.25s ease; }
    .btn.-next .font {
      size: 20px; }
    .btn.-next:hover {
      opacity: .9; }
  .btn.-back {
    background: #303B47;
    width: 558px;
    height: 66px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.25s ease; }
    .btn.-back .font {
      size: 20px; }
    .btn.-back:hover {
      opacity: .9; }
  .btn.-paid-submit {
    background: #1376E1;
    width: 558px;
    height: 66px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.25s ease; }
    .btn.-paid-submit .font {
      size: 20px; }
    .btn.-paid-submit:hover {
      opacity: .9; }

li {
  display: inline-block;
  margin: 10px; }

.download {
  width: 200px;
  height: 50px;
  float: left;
  border-radius: 5px;
  position: relative;
  color: #303B47;
  cursor: pointer;
  border: 1px solid #fff; }
  .download.-paid {
    background: #EDD558; }
  .download.-free {
    background: #fff; }
  .download .fa {
    color: #303B47;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%); }
  .download:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    font-weight: bold; }
  .download .df,
  .download .dfn {
    position: absolute;
    left: 70px; }
  .download .df {
    top: 8px;
    font-size: 1.08em; }
  .download .dfn {
    top: 30px;
    font-size: .68em; }

.message-box {
  cursor: pointer;
  background: #ECC8C5;
  color: #B83C37;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 10px;
  width: fit-content; }

.search-box {
  width: 536px;
  position: relative;
  display: flex; }

.searchTerm {
  width: 100%;
  border: 3px solid #303B47;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #EAF4FF; }

.searchTerm:focus {
  color: #303B47; }

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #303B47;
  background: #303B47;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px; }

.wrap {
  padding: 20px; }

.input-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 466px;
  margin-bottom: 15px; }

.error {
  border: 1px solid #B83C37; }

input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 16px;
  line-height: 24px;
  outline: none; }

.row-check a {
  display: flex;
  justify-content: flex-end; }

input[type="email"]:focus, input[type="password"]:focus, input[type="fname"]:focus, input[type="lname"]:focus {
  border-bottom: 1px solid orange;
  /*   border-radius:5px; */ }

input[type="checkbox"] {
  margin-right: 10px; }

/*# sourceMappingURL=styles.css.map */
