$bg-default : #EAF4FF;
$bt-submit: #303B47;
@import "https://fonts.googleapis.com/css?family=Pridi";

*{
    font-family: "Pridi";
}
section{
    &.bg{
        background:#EAF4FF ;
        
    }
    

}
.form{
    &.Sdy{
        display: inline;
    }
}
.button{
    &.Sdy{
        background: $bt-submit;
        color: white;
    }
}
.input{
    &.Sdy{
        font-size: 14px;
        border: 1px solid;
    }
}
