$bg-default : #EAF4FF;
$bt-submit: #303B47;
@import "https://fonts.googleapis.com/css?family=Pridi";

*{
    font-family: "Pridi";
}
section{
    &.bg{
        background:#EAF4FF ;
        
    }
    

}
.form{
    &.Sdy{
        
    }
}
.button{
    &.Sdy{
        background: $bt-submit;
        color: white;
    }
}
.input{
    &.Sdy{
        font-size: 14px;
        border: 1px solid;
    }
}
.container{
    &.Sdy{
        margin: 25px 50px 75px 50px;
    
       
    }
}
.columns{
    &.Sdy{
        margin: 50px;
    }
}