@import "https://fonts.googleapis.com/css?family=Pridi";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
$bg-default: #EAF4FF;

* {
  font-family: 'Pridi';

}

body{
  background: $bg-default;
}
.container{
 margin-top: 20px;
}