$bg-default : #EAF4FF;
$bt-submit: #303B47;


$nav-link-hover:#eeeeee;
$nav-link-active: #009578;


$black:#000;
$white: #ffffff;
$color-1:#303B47;

@import "https://fonts.googleapis.com/css?family=Pridi";

*{
    font-family: "Pridi";
}
section{
    &.bg{
        background:#EAF4FF ;
        
    }
    

}
.button{
    &.Sdy{
        background: $bt-submit;
        color: white;
    }
}

.header {
    position: sticky;
    background: $color-1;
    width: 100%;
    height: var(--header-height);

    display: flex;
    align-items: center;
    
  }
.container{
    &.Sdy{
       
        margin: 25px 50px 75px 50px;
        border-radius: 5px;
        line-height: 24px;
       
    }
}
.box {
    &.Sdy{
       
        
    }
}
.input{
    &.Sdy{
        font-size: 14px;
        border: 1px solid;
        width: 500px;
    }
}
label{
    &.naccount{
        float: right;
    }
}
.columns{
    &.Sdy{
        margin: 100px;
    }
}
.subtitle{
    &.Sdy{
        color: white;
    }
}